force-app/main/default/flows/MC_Next_RA_multiple_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MC_Next_Multi_RA</name>
        <label>MC Next - Multi RA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DC_MC_ATF_RelatedAttributes_Multi_Record_Journey_523015076_21c816b0-cdad-4a4d-8752-7cd298563fc4</actionName>
        <actionType>triggerJourney</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>$ActivationData.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>$ActivationData.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>var_orderIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DC_MC_ATF_RelatedAttributes_Multi_Record_Journey_523015076_21c816b0-cdad-4a4d-8752-7cd298563fc4</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>true</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignRA</name>
        <label>Assign RA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedAttributesfromActivation1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_appendOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderDates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_appendOrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderPrices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_appendOrderPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <dataSpace>default</dataSpace>
    <environments>Default</environments>
    <formulas>
        <name>formula_appendOrderId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_orderIds}), {!Loop_1.orderId}, {!var_orderIds} &amp; "," &amp; {!Loop_1.orderId})</expression>
    </formulas>
    <formulas>
        <name>formula_appendOrderDate</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_orderDates}), TEXT({!Loop_1.orderDate}), {!var_orderDates} &amp; "," &amp; TEXT({!Loop_1.orderDate}))</expression>
    </formulas>
    <formulas>
        <name>formula_appendOrderPrice</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_orderPrices}), TEXT({!Loop_1.OrderPrice}), {!var_orderPrices} &amp; "," &amp; TEXT({!Loop_1.OrderPrice}))</expression>
    </formulas>
    <interviewLabel>MC Next RA - multiple records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC Next RA - multiple records</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop all records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Attributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MC_Next_Multi_RA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <activation>85RKj00000000EAMAY</activation>
        <connector>
            <targetReference>Get_Attributes</targetReference>
        </connector>
        <entryType>Always</entryType>
        <object>ssot__Individual__dlm</object>
        <triggerType>Activation</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Get_Attributes</name>
        <label>Get Attributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>ApexRelatt</apexClass>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>orderDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>orderId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderPrice</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>RelatedAttributesfromActivation</name>
        <apexClass>ApexRelatt</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAttributesfromActivation1</name>
        <apexClass>ApexRelatt</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderDates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderPrices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
