force-app/main/default/flows/MC_NEXT_With_RA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Journey_March_4_2026_at_1_26_PM_Action_1</name>
        <label>New Journey - March 4 2026 at 1.26 PM Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>New_Journey_-_March_4_2026_at_1.26_PM_523015076_aa57153c-ca0f-4a96-ad4b-b1f96072dfc8</actionName>
        <actionType>triggerJourney</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>$ActivationData.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>$ActivationData.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>var_orderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderDate</name>
            <value>
                <elementReference>var_orderDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderPrice</name>
            <value>
                <elementReference>var_orderPrice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>New_Journey_-_March_4_2026_at_1.26_PM_523015076_aa57153c-ca0f-4a96-ad4b-b1f96072dfc8</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>true</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Related_Attributes</name>
        <label>Assign Related Attributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedAttributesfromActivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_top_item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_top_item.orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_top_item.orderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_orderPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_top_item.OrderPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_top_item</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Related_attributes</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Related attributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_RelatedAttributes</collectionReference>
        <connector>
            <targetReference>Get_top_item</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>orderId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <dataSpace>default</dataSpace>
    <environments>Default</environments>
    <interviewLabel>MC NEXT - With RA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC NEXT - With RA</label>
    <loops>
        <name>Get_top_item</name>
        <label>Get top item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_RelatedAttributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Attributes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Journey_March_4_2026_at_1_26_PM_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <activation>85RKj00000000EAMAY</activation>
        <connector>
            <targetReference>Get_RelatedAttributes</targetReference>
        </connector>
        <entryType>Always</entryType>
        <object>ssot__Individual__dlm</object>
        <triggerType>Activation</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_RelatedAttributes</name>
        <label>Get RelatedAttributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>ApexRelatt</apexClass>
        <connector>
            <targetReference>Sort_Related_attributes</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>orderDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>orderId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$ActivationData.OrdersHistory[$EachItem].OrderPrice</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>RelatedAttributesfromActivation</name>
        <apexClass>ApexRelatt</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_orderPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
